
#regform,#loginform{

width: 200px;
height: 200px;
border-radius: 10px;
margin-top: 10%;
margin-left: 42%;
  background-color: red;
}

form{
  margin-left: 6%;

}

#regBtn,#loginBtn{
  margin: 8px 0px;
}
